<div ng-controller="peopleCtrl">
Global Search <input type="text" ng-model="globalSearch.$">
Name Search <input type="text" ng-model="globalSearch.name">
Age Search <input type="text" ng-model="globalSearch.age">
Color Search <input type="text" ng-model="globalSearch.color">
    <ul>
        <li ng-repeat="p in persons | filter : globalSearch">
            {{p.name}} -<strong>{{p.age}}</strong> ==> Fav Color : {{p.color}}
        </li>
    </ul>

    <br/>
    <h2>You updated the genral search {{counter}}</h2>

<hr/>
</div>
<div ng-controller="displayCtrl">

<h1>Counter Example</h1>
    <p>Number of bands  = {{bands}}</p>

{{randomNumber}}
    <button ng-click="randNumber()">create random number</button>
</div>
